
@media (min-width : 860px) and (max-width : 1200px){

    // STYLING FUTURE SECTION IN DESKTOP MODE 

    .future{
        h2{
            padding : 1rem;
        }
        #{&}__extensible{
            @include section_one_content_desk();
        }
        #{&}__robust{
            @include section_one_content_desk();
        }
        #{&}__image{
            img{
                
                transform: translateX(30%);
                height : 450px;
                width : 450px;
            }
        }
    }

    // STYLING TOOLING SECTION IN DESKTOP MODE

    

    // STYLING INFRASTRUCTURE SECTION IN DESKTOP MODE 

    .infrastructure{
        height: 45vh;
        #{&}__circles{
            img{
                height: 150%;
            }
        }
        #{&}__mobile{
            z-index: 1;
            img{
                height : 430px;
                width : 430px;
            }
        }
    }



}