@import "variables";

@mixin flex($flex-direction, $justify-content,$align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin border($bw,$bs,$bc){
    border-width: $bw;
    border-style: $bs;
    border-color: $bc;
}

@mixin header_links(){
    text-decoration: none;
    display: inline-block;
    padding : 8px 16px;
    border-radius : 25px;
    color : $white;
    font-family: 'Ubuntu', sans-serif;
    font-size : .95rem;
    font-weight: map-get($map : $font-weights, $key : 'semi-bold-Ubuntu');
    transition: all .5s ease;
}

@mixin header_links_hover(){
    background-color: $white;
    color : $light-red;
}

@mixin section_one_content(){
    padding : .75rem 1.25rem;
    max-width: 90%;
    margin : 0 auto;
    p{
        padding : 1rem 0rem;
        line-height: 1.5rem;
    }
    h3{
        color : $very-dark-blue;
    }
}