@media (min-width : 380px) and (max-width : 650px){

    .header{
        #{&}__mobileNav{
            display: block;
        }
        #{&}__navigation-right,#{&}__navigation-left{
            display: none;
        }
        #{&}__mobileBox{
            opacity: 0;
        }
    }

    

    .future{
        h2{
            padding : 1rem;
        }
        h3,p{
            text-align: center;
        }
        #{&}__content{
            display: flex;
            flex-direction: column-reverse;
        }
        #{&}__extensible{
            @include section_one_content_desk();
            padding : 1rem 0rem 1rem 1rem;
        }
        #{&}__robust{
            @include section_one_content_desk();
            padding : 1rem 0rem 1rem 1rem;
        }
        #{&}__image{
            text-align: center;
            img{
                height : 350px;
                width : 350px;
            }
        }
    }

    .tooling{
        h3,p{
            text-align: center;
        }
        #{&}__content{
            display: flex;
            flex-direction: column;
        }
        #{&}__image{
            text-align: center;
            img{
                height : 300px;
                width : 350px;
            }
        }
        #{&}__extensible{
            @include section_one_content_desk();
            padding : 1rem 0rem 1rem 1rem;
        }
        #{&}__robust{
            @include section_one_content_desk();
            padding : 1rem 0rem 1rem 1rem;
        }
    }

    .infrastructure{
        border-radius: 0px 80px;
        height : 56vh;
        position: relative;
        #{&}__content{
            h2{
                text-align: center;
            }
            p{
                text-align: center;
            }
            width: 85%;
            margin : 0 auto;
            transform: translateY(-50%);
        }
        #{&}__circles{
            img{
                height: 85%;
                transform: translateY(-50%);
            }
        }
        #{&}__mobile{
            text-align: center;
            z-index: 1;
            position: relative;
            top : -20%;
            img{
                height : 320px;
                width : 320px;
            }
        }
    }

    .footer{
        font-size: .95rem;
        @include flex(row,space-evenly,flex-start);
        background-color: $very-dark-black-blue;
    }

}