@media (max-width : 379px){
    .future{
        h2{
            padding : 1rem;
        }
        h3,p{
            text-align: center;
        }
        #{&}__content{
            display: flex;
            flex-direction: column-reverse;
        }
        #{&}__extensible{
            @include section_one_content_desk();
            padding : 1rem 0rem 1rem 1rem;
        }
        #{&}__robust{
            @include section_one_content_desk();
            padding : 1rem 0rem 1rem 1rem;
        }
        #{&}__image{
            text-align: center;
            img{
                height : 300px;
                width : 300px;
            }
        }
    }
    .tooling{
        h3,p{
            text-align: center;
        }
        #{&}__content{
            display: flex;
            flex-direction: column;
        }
        #{&}__image{
            text-align: center;
            img{
                height : 250px;
                width : 300px;
            }
        }
        #{&}__extensible{
            @include section_one_content_desk();
            padding : 1rem 0rem 1rem 1rem;
        }
        #{&}__robust{
            @include section_one_content_desk();
            padding : 1rem 0rem 1rem 1rem;
        }
    }
    .infrastructure{
        border-radius: 0px 60px;
        height : 62vh;
        position: relative;
        #{&}__content{
            h2{
                text-align: center;
            }
            p{
                text-align: center;
            }
            width: 85%;
            margin : 0 auto;
            transform: translateY(-45%);
        }
        #{&}__circles{
            img{
                height: 70%;
                transform: translateY(-30%);
            }
        }
        #{&}__mobile{
            text-align: center;
            z-index: 1;
            position: relative;
            top : -20%;
            img{
                height : 240px;
                width : 240px;
            }
        }
    }
    .footer{
        display: flex;
        background-color: $very-dark-black-blue;
        flex-direction: column;
        align-items: center;
        h2{
            margin-bottom: 1rem;
        }
        div{
            padding : 1rem;
            width : 100px;
        }
    }
}