@media(min-width : 1201px){

    .header{
        #{&}__mobileNav{
            display: none;
        }
        #{&}__mobileBox{
            display: none;
        }
    }
    
    .future{
        margin-bottom: -3.5rem;
        #{&}__extensible{
            @include section_one_content();
        }
        #{&}__robust{
            @include section_one_content();
        }
        #{&}__image{
            img{
                height : 600px;
                width : 600px;
                transform: translateX(30%);
            }
        }
    }

    .infrastructure{
        @include flex(row,space-evenly,center);
        border-radius: 0px 120px;
        height : 60vh;
        #{&}__circles{
            img{
                height: 200%;
                transform: translateY(-50%);
            }
        }

        #{&}__content{
            max-width: 45%;
        }

        #{&}__mobile{
            z-index: 1;
            img{
                height : 520px;
                width : 520px;
            }
        }
    }

    .tooling{
        #{&}__extensible, #{&}__robust{
            @include section_one_content();
        }
        #{&}__image{
            img{
                height : 550px;
                width : 650px;
                transform: translateX(-30%);
            }
        }   
    }

    .footer{
        @include flex(row,space-evenly,flex-start);
        background-color: $very-dark-black-blue;
    }

}