@import "variables";
@import "init";
@import "mixins";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');


.header{
    background: url('../images/bg-pattern-intro-desktop.svg') no-repeat center center/cover, linear-gradient(to right, $very-light-red-gradient, $light-red-gradient);
    border-radius: 0px 0px 0px 75px;
    font-family: 'Overpass', sans-serif;
    height : 80vh;
    #{&}__navigation{
        max-width : 90%;
        margin : 0 auto;
        padding : 2rem 0rem;
        // background-color: red;
        @include flex(row,space-between,center);
    }
    #{&}__navigation-left{
        span{
            color : $white;
            font-size : 1.5rem;
            font-family: 'Ubuntu', sans-serif;
            font-weight: map-get($map : $font-weights, $key : 'semi-bold-Ubuntu');
        }
    }
    #{&}__navigation-right{
        a{
            @include header_links();
            font-weight: map-get($map: $font-weights, $key: 'semi-bold-Ubuntu');
        }
        a:hover{
            @include header_links_hover();
        }
    }

    #{&}__content{
        // background-color: blue;
        text-align: center;
        position: relative;
        right : 0;
        left : 0;
        top : 50%;
        transform: translateY(-100%);
        h1{
            color : $white;
        }
        p{
            color : $grayish-blue;
            font-weight: map-get($map: $font-weights, $key: 'semi-bold-Overpass');
            padding : .75rem 0rem 1.75rem 0rem;
        }
        a{
            @include header_links();
            @include border(.5px, solid, $white);
            margin : 0rem .3rem;
        }
        a:hover{
            @include header_links_hover();
        }
    }
}

.future{
    font-family: 'Overpass', sans-serif;
    margin-bottom: -3.5rem;
    h2{
        text-align: center;
        position: relative;
        top : 70px;
        color : $very-dark-blue;
    }
    #{&}__content{
        position: relative;
        display: flex;
        // background-color: red
    }
    #{&}__extensible{
        @include section_one_content();
    }
    #{&}__robust{
        @include section_one_content();
    }
    #{&}__test{
        @include flex(column,center,center);
        position: relative;
        left : 4%;
        // background-color: aquamarine;
    }

    #{&}__image{
        position: relative;
        left : 15%;
        // background-color: rebeccapurple;
        img{
            height: 600px;
            width : 600px;
        }
    }
}

.tooling{
    font-family: 'Overpass', sans-serif;
    #{&}__content{
        position: relative;
        display: flex;
        // background-color: cyan;
    }
    #{&}__image{
        position: relative;
        left : -15%;
        // background-color: red;
        img{
            height : 500px;
            width : 650px;
        }
    }
    #{&}__test{
        @include flex(column,center,center);
        position: relative;
    }
    #{&}__extensible{
        @include section_one_content();
        width: 100%;
    }
    #{&}__robust{
        @include section_one_content();
        width: 100%;
    }
}

.infrastructure{
    color : $white;
    background-color: $very-dark-blue;
    font-family: 'Overpass', sans-serif;
    border-radius: 0px 120px;
    @include flex(row-reverse,center,center);
    height: 60vh;
    margin : 5rem 0rem;
    #{&}__mobile{
        img{
            height : 520px;
            width : 520px;
        }
    }
    #{&}__content{
        p{
            padding : 1rem 0rem;
            line-height: 1.5rem;
        }
        max-width: 45%;
    }
    #{&}__circles{
        img{
            height : 500px;
            width : 500px;
        }
        color : white;
    }
}

.footer{
    margin-top: 3rem;
    padding : 3rem 0rem;
    background-color: $very-dark-black-blue;
    font-family: 'Overpass', sans-serif;
    color : $white;
    border-radius: 0px 50px 0px 0px;
    @include flex(row,space-evenly,flex-start);
    ul{
        list-style: none;
    }
    ul li{
        padding : .4rem 0rem;
    }
    ul li a{
        text-decoration: none;
        color : $grayish-blue;
        font-size: .85rem;
        display: inline-block;
    }
    h3{
        margin-bottom: 1.5rem;
    }
}


